<div class="container">
    <alert></alert>
      <!-- Outer Row -->
      <div class="row justify-content-center">
  
        <div class="col-xl-10 col-lg-12 col-md-9">
  
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                    </div>
                    <form [formGroup]="loginForm" class="user">
                      <div class="form-group">
                        <input class="form-control form-control-user" formControlName="username" type="text" placeholder="username"/>
                      </div>
                      <div class="form-group">
                        <input class="form-control form-control-user"formControlName="pwd" type="password" placeholder="password"/>
                        </div>
                      <a (click)="onSubmit()" class="btn btn-primary btn-user btn-block">
                        Login
                      </a>
                      <hr>
                    </form>
                    <hr>
                    <div class="text-center">
                      Not registered? <a class="small" routerLink="/users/register">Create an Account!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>