<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Sujets List</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <!-- <div id="dataTable_filter" class="dataTables_filter">
              <label>Search:<input (change)="filterMyTab()"  type="search" class="form-control form-control-sm" [(ngModel)]="filter" ></label>
            </div> -->
          </div>
        </div>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Votes</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let sujet of sujets; let i=index">
                <td>{{sujet.title}}</td>
                <td>{{sujet.description}}</td>
                <td>{{sujet.percentage}}% voted Yes </td>
                <th>
                  <a  class="nav-link" (click)="voteYes(sujet._id)"  >Oui</a>
                  <a class="nav-link" (click)="voteNo(sujet._id)"  >Non</a></th>
              </tr>
        </tbody>
    </table>
  </div>
</div>
</div>