<div class="container">
    <h1 class="h3 mb-4 text-gray-800">Add Sujet!</h1>
<div class="row justify-content-center">
<div class="col-xl-10 col-lg-12 col-md-9">
<div class="card o-hidden border-0 shadow-lg my-5">
    <div  class="card-header">
        Sujet details
      </div>
      
    <div class="card-body p-0">
        <div class="row">
            <form [formGroup]="sujetForm" class="user">
                <div class="form-group">
                  <input class="form-control form-control-user" formControlName="Title" type="text" placeholder="Title"/>
                </div>
                <div class="form-group">
                    <textarea class="form-control form-control-user" formControlName="Descriton" placeholder="Description"></textarea>
                  </div>
                <a (click)="onSubmit()" class="btn btn-primary btn-user btn-block">
                    SIGNUP
                </a>
                <hr>
              </form>
    </div>
        </div>
      </div>
    </div>
</div>
</div>
